*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#19A7CE;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.top-txt{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}
.container{
    box-shadow: 0 0 4px 1px rgb(0, 0, 0);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;  
    flex-direction: column;  
}
.container p{
    color: rgb(13, 15, 14);
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inputContainer{
    margin:5px;
    display: flex;
    justify-content: space-between;
    width:80%;
}
.inputContainer label{
    font-size: larger;
}
.inputContainer input{
    border:none;
    outline: none;
    box-shadow: 0.1px 1px 2px 1px rgb(28, 27, 27);
    padding:4px;
    font-size: large;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(186, 188, 190)
}